doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Student Selection
    link(rel="stylesheet" href="/css/styles.css")
    script(src="/js/modal.js" defer)
  body
    header
      .header-container
        img.logo(src="/image/logo.png" alt="School 21 Logo")
        nav
          a(href="#") Dashboard
          a(href="#") Calendar
          a.active(href="#") Students
          a(href="#") Projects
          a(href="#") Activities
          a(href="#") More
        .icons
          img(src="/image/notifications.png" alt="Notifications")
          img.menu-icon(src="/image/menu.png" alt="Menu")

    main
      .students-grid#students-container
        each student in students
          .student-card
            h3= student.fullname
            p= student.campus
            .skills
              each skill, index in student.skills
                if index < 4
                  .skill
                    span= skill.name
                    .progress-bar
                      .progress(style=`width: ${skill.level}%`)= `${skill.level}%`
            button.details-btn(onclick=`openModal(${JSON.stringify(student.skills)})`) View Details

    // Модальное окно
    #modal.hidden
      .modal-content
        h2 Все навыки
        ul#skills-list
        button.close-btn(onclick="closeModal()") Закрыть